#back{
background: linear-gradient(to bottom, #EFEFEF, #AAAAAA);
    color:black;
    padding:30px;
    margin: 10pt;
    border-radius: 20px;
    border-width: 5px;
    border-color:black;
    border-bottom: #D1D1D1 2px solid;
    background-color: #d3d3d3;
    -moz-box-shadow: inset -2px 7px 1px #6f6f6f;
    -webkit-box-shadow: inset -2px 7px 1px #6f6f6f;
    -webkit-box-shadow: 2px 8px 8px rgba(255, 255, 255, 0.75);
    -moz-box-shadow:    2px 8px 8px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 -2px 7px 1px #6f6f6f; 
    width:420px;
  
}
#cav{

    padding:2pt;
    margin:4pt;
    background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

 
    }

.graphcalc input[type="text1"]{
    font-size: 16pt;
    padding:2pt;
    margin:5pt;
    width:350px;
    height:50px;
    border-radius:10px;
    border-width:5pt;
    color:black;

}
.graphcalc input[type="text2"]{
    font-size: 16pt;
    padding:2pt;
    margin:5pt;
    width:100px;
    height:50px;
    border-radius:10px;
    border-width:5pt;
    color:black;

}
.graphcalc input[type="text3"]{
    font-size: 16pt;
    padding:2pt;
    margin:5pt;
    width:100px;
    height:50px;
    border-radius:10px;
    border-width:5pt;
    color:black;

}
.calcbutton {
    width: 95px;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
    border-color:black;
    border-bottom: #D1D1D1 2px solid;
    background-color: #d3d3d3;
    -moz-box-shadow: inset -2px 7px 1px #6f6f6f;
    -webkit-box-shadow: inset -2px 7px 1px #6f6f6f;
    -webkit-box-shadow: 2px 8px 8px rgba(255, 255, 255, 0.75);
    -moz-box-shadow:    2px 8px 8px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 -2px 7px 1px #6f6f6f;  
    font-size: 18pt;
    color: #353535;
    padding: 10px;
    margin: 5px;
    
}

.zerobut{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-width: 1px;
    border-color:black;
    border-bottom: #D1D1D1 2px solid;
    background-color: #d3d3d3;
    -moz-box-shadow: inset -2px 7px 1px #6f6f6f;
    -webkit-box-shadow: inset -2px 7px 1px #6f6f6f;
    -webkit-box-shadow: 2px 8px 8px rgba(255, 255, 255, 0.75);
    -moz-box-shadow:    2px 8px 8px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 -2px 7px 1px #6f6f6f;  
    font-size: 18pt;
    color: #353535;
    padding: 10px;
    margin: 5px;

}
.eqbut{
    width: 95px;
    height: 110px;
    border-radius: 10px;
    border-width: 1px;
    border-color:black;
    border-bottom: #D1D1D1 2px solid;
    background-color: #d3d3d3;
    -moz-box-shadow: inset -2px 7px 1px #6f6f6f;
    -webkit-box-shadow: inset -2px 7px 1px #6f6f6f;
    -webkit-box-shadow: 2px 8px 8px rgba(255, 255, 255, 0.75);
    -moz-box-shadow:    2px 8px 8px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 -2px 7px 1px #6f6f6f;  
    font-size: 18pt;
    color: #353535;
    padding-top: 60px;
    padding: 10px;
    
    margin: 5px;
    position:absolute;
    top:0px;
    left:315px;
 
}



#row5{
    position: relative;
    
}


